<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  <body>
    Mourya Welcome to Node JS temlpets
    <form action="/login" method="POST">
        First Name:<input type="text" id='firstName' name="firstName"/>
        Last Name: <input type="text" id='lastName' name="lastName"/>
        <input type="submit" id='submit' value="Submit"/>
    </form>
  </body>
</html>
